.calendar-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 24px 32px;
  gap: 16px;
  border-radius: 16px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.calendar-header {
  display: flex;
  align-items: center;
  gap: 16px;
  background-color: pink;
}

.calendar-header p {
  font-size: 32px;
}

.calendar-header button {
  font-size: 32px;
}

.calendar-table {
  width: 100%;
}

.modal-container {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.memo-modal {
  display: flex;
  flex-direction: column;
  padding: 16px;
  gap: 8px;
  background-color: #f0f0f0;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.memo-text {
  padding: 4px;
  border: 1px solid #adadad;
  border-radius: 4px;
  outline: none;
  resize: none;
}

.button-section {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
}

.button-section button {
  width: 48px;
  height: 24px;
  font-size: 16px;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  transition: background-color 0.3s;
}

.register-button {
  background-color: #cecece;
}
